:host { display: block; height: 100vh; }

.main-container {
  display: flex;
  height: 100%;
}

.main-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-area {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: #f4f7f6;
}